# Core
numpy>=1.21
scipy>=1.8
pandas>=1.3

# Visualization / UI
matplotlib>=3.4
ipywidgets
notebook>=6.5
ipython>=8.0

# Image Processing
scikit-image
imageio
tifffile
Pillow

# Metrics
# psnr-hvsm dependency removed in favor of internal pure python implementation.